<div class="aside" [ngClass]="{ 'open': open_aside }">

    <div class="logo">
        <a routerLink="/">
            <span>Rr</span>
        </a>
    </div>

    <div class="nav-toggler" [ngClass]="{ 'open': open_aside }" (click)="showAsideSection()">
        <span></span>
    </div>

    <ul class="nav">
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <i class="fa fa-home"></i> {{ 'menu.home' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">
                <i class="fa fa-user"></i> {{ 'menu.about' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/services" routerLinkActive="active">
                <i class="fa fa-list"></i> {{ 'menu.services' | translate }}
            </a>
        </li>
        <li>
            <a routerLink="/portfolio" routerLinkActive="active">
                <i class="fa fa-briefcase"></i> {{ 'menu.portfolio' | translate }}
            </a>
        </li>
        <!-- <li>
            <a routerLink="/what-them-say" routerLinkActive="active">
                <i class="fas fa-quote-right"></i> {{ 'menu.what-them-say' | translate }}
            </a>
        </li> -->
        <li>
            <a routerLink="/contact" routerLinkActive="active">
                <i class="fa fa-comments"></i> {{ 'menu.contact' | translate }}
            </a>
        </li>
    </ul>

    <div class="version">
        {{ 'generals.version' | translate }} {{ appVersion }}
    </div>

</div>