<div class="style-switcher" [ngClass]="{ 'open': open }">

    <div class="style-switcher-toggler s-icon" (click)="open_switcher()">
        <i class="fas fa-cog"></i>
    </div>

    <div class="day-night s-icon" (click)="setDarkTheme()">
        <i class="fas" [ngClass]="{ 'fa-sun': isDark, 'fa-moon': !isDark }"></i>
    </div>

    <div class="language-toggle s-icon" (click)="changeLang()">
        <i class="fas fa-language"></i>
    </div>

    <h4> {{ 'generals.theme_colors' | translate }} </h4>
    <div class="colors">
        <span class="color-1" (click)="setActiveStyle('color-1')"></span>
        <span class="color-2" (click)="setActiveStyle('color-2')"></span>
        <span class="color-3" (click)="setActiveStyle('color-3')"></span>
        <span class="color-4" (click)="setActiveStyle('color-4')"></span>
        <span class="color-5" (click)="setActiveStyle('color-5')"></span>
    </div>

</div>