<section class="contact section">

    <div class="container">

        <div class="row">
            <div class="section-title p-15">
                <h2> {{'contact.title' | translate }} </h2>
            </div>
        </div>

        <h3 class="contact-title p-15"> {{ 'contact.ask' | translate }} </h3>
        <h4 class="contact-subtitle p-15"> {{ 'contact.at_u_service' | translate }} </h4>

        <div class="row">
            <div class="contact-info-item p-15" *ngFor="let item of contact">
                <div class="icon"> <i class="fa" [ngClass]="item.icon"></i> </div>
                <h4> {{ item.label | translate }} </h4>
                <p> {{ item.value }} </p>
            </div>
        </div>

        <h3 class="contact-title p-15"> {{ 'contact.send_me_email' | translate }} </h3>
        <h4 class="contact-subtitle p-15"> {{ 'contact.resposive' | translate }} </h4>

        <form class="contact-form p-15" [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()" *ngIf="loaded">
            <div class="row">

                <div class="form-item col-6 p-15">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ 'contact.form.name' | translate }}"
                            formControlName="name">
                        <span class="error-message"
                            *ngIf="nameInvalid || (sendEmailForm.controls.name.touched && sendEmailForm.controls.name.errors?.required)">
                            {{ 'generals.errors.required' | translate }}
                        </span>
                    </div>
                </div>

                <div class="form-item col-6 p-15">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="{{ 'contact.form.email' | translate }}"
                            formControlName="from">
                        <span
                            *ngIf="fromInvalid || (sendEmailForm.controls.from.touched && (sendEmailForm.controls.from.errors?.required || sendEmailForm.controls.from.errors?.email))">
                            <span class="error-message" *ngIf="sendEmailForm.controls.from.errors?.required">
                                {{ 'generals.errors.required' | translate }}
                            </span>
                            <span class="error-message" *ngIf="sendEmailForm.controls.from.errors?.email">
                                {{ 'generals.errors.invalid_email' | translate }}
                            </span>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-item col-12 p-15">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{ 'contact.form.subject' | translate }}"
                            formControlName="subject">
                        <span class="error-message"
                            *ngIf="subjectInvalid || (sendEmailForm.controls.subject.touched && sendEmailForm.controls.subject.errors?.required)">
                            {{ 'generals.errors.required' | translate }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-item col-12 p-15">
                    <div class="form-group">
                        <textarea class="form-control" cols="30" rows="10"
                            placeholder="{{ 'contact.form.message' | translate }}" formControlName="message"></textarea>
                        <span class="error-message"
                            *ngIf="messageInvalid || (sendEmailForm.controls.message.touched && sendEmailForm.controls.message.errors?.required)">
                            {{ 'generals.errors.required' | translate }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-item col-12 p-15">
                    <button type="submit" class="btn" [disabled]="disabledButton">
                        {{ 'generals.button_send_me_message' | translate }}
                    </button>
                </div>
            </div>
        </form>

    </div>

</section>