.position-alert {
    display: none !important;
    position: fixed;
    bottom: 20px;
    right: 0;
    left: 0;
    z-index: 101;

    width: 40%;
    margin-left: auto;
    margin-right: 15px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.position-alert.open {
    display: block !important;
    transition: all 0.3s ease;
    transform: translateX(-20px);
}

.alert {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    user-select: none;
    color: var(--alert-text);
    background-color: var(--alert-bg);
    border: 2px solid var(--alert-border);
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    padding: 15px 30px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 5px;
}

.alert .alert-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.alert .alert-content i.far,
.alert .alert-content i.fas {
    color: var(--alert-text);
    font-size: 24px !important;
    margin-right: 8px;
}

.alert .alert-content span {
    width: 100%;
}

.alert button {
    background: transparent;
    border: none;
    color: var(--alert-text);
}

///
/// Types
/// 

.alert.success {
    background-color: var(--alert-success-bg);
    border: 2px solid var(--alert-success-border);
}

.alert.warning {
    background-color: var(--alert-warning-bg);
    border: 2px solid var(--alert-warning-border);
}

.alert.danger {
    background-color: var(--alert-danger-bg);
    border: 2px solid var(--alert-danger-border);
}

.alert.info {
    background-color: var(--alert-info-bg);
    border: 2px solid var(--alert-info-border);
}