<div id="alert" class="position-alert">

    <div class="alert" [ngClass]="type">
        <div class="alert-content">
            <i [ngClass]="icon"></i>
            <span style="white-space: pre-line;"> {{ text }} </span>
        </div>

        <button type="button" (click)="alertService.close()"><i class="fas fa-times"></i></button>
    </div>

</div>