<section class="portfolio section">

    <div class="container">

        <div class="row">
            <div class="section-title p-15">
                <h2> {{ 'portfolio.title' | translate }} </h2>
            </div>
        </div>

        <div class="row">
            <div class="portfolio-heading p-15">
                <h2> {{ 'portfolio.heading' | translate }} : </h2>
            </div>
        </div>

        <div class="row">

            <div class="portfolio-item p-15" *ngFor="let item of portfolio">

                <div class="portfolio-item-inner shadow-dark">

                    <div class="portfolio-img">
                        <img [src]="item.image" [alt]="item.name | translate">
                    </div>


                    <h2> {{ item.name | translate }} </h2>
                    <p> {{ item.description | translate }} </p>

                    <a [href]="item.site_url" target="_blank" class="button">
                        {{ 'portfolio.see_more' | translate }}
                        <span class="icon">
                            <i class="fas fa-chevron-circle-right"></i>
                        </span>
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>