.portfolio .container {
    padding-bottom: 40px;
}

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
}


/// 
/// card
///

.portfolio .portfolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #e8dfec;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 0.9;
    transition: opacity .2s ease-out;

}


.portfolio .portfolio-item-inner h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: normal;
    text-transform: uppercase;
}

.portfolio .portfolio-item-inner p,
.portfolio .portfolio-item-inner a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
}

.portfolio .portfolio-item-inner p {
    inset: auto auto 80px 30px;
}

.portfolio .portfolio-item-inner a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
}

.portfolio .portfolio-item-inner:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
}

.portfolio .portfolio-item-inner:hover p,
.portfolio .portfolio-item-inner:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

.portfolio .portfolio-item-inner:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
}

.portfolio .portfolio-item-inner:hover {
    background: var(--skin-color);
}

.icon {
    vertical-align: middle;
}