<section class="about section">

    <div class="container">

        <div class="row">
            <div class="section-title p-15">
                <h2> {{ 'menu.about' | translate }} </h2>
            </div>
        </div>

        <div class="row">
            <div class="about-content p-15">

                <div class="row">
                    <div class="about-text p-15">
                        <h3>{{ 'about.me' | translate: { name: short_name } }}
                            <span>
                                {{ 'home.professions_array.fullstack' | translate }}
                            </span>
                        </h3>
                        <p> {{ 'about.presentation' | translate }} </p>
                    </div>
                </div>

                <div class="row">

                    <div class="personal-info p-15">
                        <div class="row">

                            <div class="info-item p-15" *ngFor="let item of info">
                                <p> {{ item.label | translate }}: <span> {{ item.value }} </span> </p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="buttons p-15">
                                <a routerLink="/contact" class="btn hire-me">
                                    {{ 'generals.button_hire_me' | translate }}
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="skills p-15">

                        <div class="row">

                            <div class="skill-item p-15" *ngFor="let item of skills">
                                <h5> {{ item.label }} </h5>
                                <div class="progress">
                                    <div class="progress-in" [style.width]="getPercent(item.percentage)"></div>
                                    <div class="skill-percent">{{ item.percentage }} %</div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="education p-15">
                        <h3 class="title"> {{ 'about.education.title' | translate }} </h3>
                        <div class="row">
                            <div class="timeline-box p-15">
                                <div class="timeline shadow-dark">

                                    <div class="timeline-item" *ngFor="let item of education">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date">
                                            <i class="fa fa-calendar"></i> {{ item.date | translate }}
                                        </h3>
                                        <h4 class="timeline-title"> {{ item.title | translate }} </h4>
                                        <p class="timeline-text"> {{ item.description | translate }} </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="experience p-15">
                        <h3 class="title"> {{ 'about.experience.main_title' | translate }} </h3>
                        <div class="row">
                            <div class="timeline-box p-15">
                                <div class="timeline shadow-dark">

                                    <div class="timeline-item" *ngFor="let item of experience">
                                        <div class="circle-dot"></div>
                                        <h3 class="timeline-date">
                                            <i class="fa fa-calendar"></i> {{ item.date | translate }}
                                        </h3>
                                        <h4 class="timeline-title"> {{ item.title | translate }} </h4>
                                        <p class="timeline-text"> {{ item.description | translate }} </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</section>