<section class="service section">

    <div class="container">

        <div class="row">
            <div class="section-title p-15">
                <h2> {{ 'services.title' | translate }} </h2>
            </div>
        </div>

        <div class="row">

            <div class="service-item p-15" *ngFor="let item of services">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa" [ngClass]="item.icon"></i>
                    </div>
                    <h4> {{ item.title | translate }} </h4>
                    <p> {{ item.description | translate }} </p>
                </div>
            </div>

        </div>

    </div>

</section>