<section class="service section">

    <div class="container">

        <div class="row">
            <div class="section-title p-15">
                <h2> Comentario </h2>
            </div>
        </div>


        <form class="contact-form p-15" [formGroup]="commentForm" (ngSubmit)="postComment()">
            <div class="row">

                <div class="form-item col-6 p-15">
                    <div class="form-group">
                        <input class="form-control" placeholder="Nombre Ej.: Raymundo Rodriguez" formControlName="name">
                    </div>
                </div>

                <div class="form-item col-6 p-15">
                    <div class="form-group">
                        <input class="form-control" placeholder="Puesto Ej.: Desarrollador, Consultora"
                            formControlName="position">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-item col-12 p-15">
                    <div class="form-group">
                        <input class="form-control" placeholder="Titulo Ej.: Buen trabajador" formControlName="title">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-item col-12 p-15">
                    <div class="form-group">
                        <textarea #description class="form-control" cols="30" rows="10" maxlength="300"
                            placeholder="Descripcion" formControlName="description"></textarea>
                        <label> Caracteres restantes: {{ 300 - description.value.length }} / 300 </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-item col-12 p-15">
                    <button type="submit" class="btn" [disabled]="disabledButton">
                        Enviar comentario
                    </button>
                </div>
            </div>
        </form>

    </div>

</section>