.service .container {
    padding-bottom: 40px;
}

///
/// Form
/// 

.contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-form .form-item {
    margin-bottom: 30px;
}

.contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact-form .btn {
    height: 50px;
    padding: 0 50px;
}

label {
    color: var(--text-black-700);
}