<section class="home section">

    <div class="container">
        <div class="row">
            <div class="home-info p-15">

                <h3 class="hello">{{ 'home.greeting' | translate}} <span class="name"> {{ profile_name }} </span> </h3>

                <h3 class="my-profession">
                    {{ 'home.im' | translate}}
                    <typing-animation class="typing" [titles]="profile_professions">
                    </typing-animation>
                </h3>

                <p>
                    {{ 'home.info' | translate}}
                </p>

                <button class="btn hire-me" type="button" (click)="openModal()">
                    {{ 'generals.button_download_cv' | translate }}
                </button>
            </div>

            <div class="home-img p-15">
                <img src="./assets/hero1.jpg" alt="raymundo">
            </div>

        </div>
    </div>

    <custom-modal>

        <form class="contact-form" [formGroup]="donwloadCVForm" (submit)="downloadCV()">
            <div class="row">

                <span class="p-15" style="margin-top: 15px; margin-bottom: 15px;">
                    {{ 'home.download_cv' | translate }}
                    <!-- Ingresa tu correo para poder descargar mi cv -->
                </span>

                <div class="form-item col-12 p-15">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="{{ 'contact.form.email' | translate }}"
                            formControlName="email">
                        <span
                            *ngIf="emailInvalid || (donwloadCVForm.controls.email.touched && (donwloadCVForm.controls.email.errors?.required || donwloadCVForm.controls.email.errors?.email))">
                            <span class="error-message" *ngIf="donwloadCVForm.controls.email.errors?.required">
                                {{ 'generals.errors.required' | translate }}
                            </span>
                            <span class="error-message" *ngIf="donwloadCVForm.controls.email.errors?.email">
                                {{ 'generals.errors.invalid_email' | translate }}
                            </span>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-item col-12 p-15">
                    <button type="submit" class="btn" [disabled]="emailInvalid">
                        {{ 'generals.button_download_cv' | translate }}
                    </button>
                </div>
            </div>
        </form>

    </custom-modal>

</section>