.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

@font-face {
    font-family: 'VeganStyle';
    src: url('../../../assets/fonts/VeganStyle.ttf') format('opentype');
}


///
/// home-info
/// 

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'VeganStyle', Fallback, sans-serif !important;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 200;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
    text-align: justify !important;
}

///
/// image
/// 

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -20px;
    top: -40px;
}

.home .home-img img {
    margin: auto;
    border-radius: 5px;
    height: 400px;
}


/// 
/// Form
/// 

///
/// Form
/// 

.contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-form .form-item {
    margin-bottom: 30px;
}

.contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact-form .btn {
    height: 50px;
    padding: 0 50px;
}