<section class="service section">


    <div class="container">

        <div class="row">
            <div class="section-title p-15">
                <h2> {{ 'what-them-say.title' | translate }}</h2>
            </div>
        </div>

        <div class="_row">

            <div class="cell">
                <ul style="padding: 0 55px;">
                    <li style="margin: 15px 0;" *ngFor="let item of testimonils; let i = index" [tabindex]="i">
                        <div style="display: flex; flex-direction: row; align-items: center;" (click)="showNote(item);">

                            <div class="profile_avatar">
                                <span [class]="!getUserInitials(item.name) ? 'fa-solid fa-user' : ''">
                                    <abbr [title]="item?.name">{{ getUserInitials(item.name) }}</abbr>
                                </span>
                            </div>

                            <div style="display: flex; flex-direction: column; margin-left: 15px;">
                                <span class="font-weight-normal">{{ item.name }}</span>
                                <span>{{ item.position }}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="cell">
                <div class="notes" style="margin: 15px;" *ngIf="_showNote">
                    <h1>{{ note.title | titlecase }}</h1>
                    <div>
                        <span>{{note_author}}</span>
                    </div>
                    <p>{{note.description}}</p>
                </div>
            </div>

        </div>

    </div>

</section>