.service .container {
    padding-bottom: 40px;
}

._row {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: 1 1 200px;
    height: 100%;
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    min-height: 400px;
}

ul li,
.notes {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    transition: all 0.3s ease;

    img {
        border-radius: 50%;
    }

    img,
    span {
        user-select: none;
    }
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

li:hover,
li:focus {
    background-color: var(--skin-color) !important;
}

.profile_avatar {
    height: 40px;
    width: 40px;
    align-items: center;
    border-radius: 50%;
    background-color: var(--skin-color);
    color: var(--text-black-700);
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: center;
    transition: all 0.5s ease;

    abbr {
        text-decoration: none;
    }

    abbr:hover {
        cursor: pointer;
    }
}