<ng-container *ngIf="display$ | async as display">

    <section [class.open]="display === 'open'" (click)="close()">

        <div class="modal-card" (click)="$event.stopPropagation()">

            <button class="close" type="button" (click)="close()">
                <i class="fas fa-times"></i>
            </button>

            <ng-content></ng-content>

        </div>

    </section>
    
</ng-container>