$transition: 250ms;


section {
    visibility: hidden;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: $transition;


    &.open {
        visibility: inherit;
        opacity: 1;
    }


    .modal-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--bg-black-900);
        border: var(--text-black-700);
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
        width: 60% !important;
    }


    button.close {
        background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
    }

}

///
/// Media Querys
/// 
@media only screen and (min-width : 280px) {

    section {
        .modal-card {
            width: 90% !important;
        }
    }

}


@media only screen and (min-width : 360px) {
    section {
        .modal-card {
            width: 90% !important;
        }
    }
}


@media only screen and (min-width : 412px) {
    section {
        .modal-card {
            width: 90% !important;
        }
    }
}


@media only screen and (min-width : 720px) {
    section {
        .modal-card {
            width: 40% !important;
        }
    }
}