/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
    --bg-black-900: #f2f2f2;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

    --loader-background: 232, 223, 236;

    ///
    /// Alerts
    ///
    // Normal
    --alert-text: #333C48;
    --alert-bg: rgba(15, 15, 15, 0.2);
    --alert-border: #504e70;

    // Success
    --alert-success-bg: rgba(62, 189, 97, 0.2);
    --alert-success-border: #3ebd61;

    // Warning
    --alert-warning-bg: rgba(239, 148, 0, 0.2);
    --alert-warning-border: #EF9400;

    // Danger
    --alert-danger-bg: rgba(236, 77, 43, 0.2);
    --alert-danger-border: #721c24;

    // Info
    --alert-info-bg: rgba(0, 108, 227, 0.2);
    --alert-info-border: #006CE3;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;

    --loader-background: 57, 57, 57;

    ///
    /// Alert
    ///
    --alert-text: #d5d5d5;
    --alert-bg: rgba(254, 254, 254, 0.2);
    --alert-border: #fdfdfe;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: var(--bg-black-900);
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.p-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background-color: var(--skin-color);
    transition: all 0.3s ease;
    border: none;
}

.btn:hover {
    transform: scale(1.05);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: var(--skin-color-darker);
    color: var(--text-black-700);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

ul {
    list-style: none;
}

.error-message {
    color: red;
    font-size: 12px;
    padding-left: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 2px;
    box-shadow: inset 0 0 2px var(--bg-black-50);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--skin-color-darker);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--skin-color);
}



///
/// Responsive
/// 

@media (max-width:1199px) {
    .aside {
        left: -270px !important;
    }

    .aside.open {
        left: 0 !important;
    }

    .aside .nav-toggler {
        display: flex !important;
        left: 30px !important;
    }

    .aside .nav-toggler.open {
        left: 275px !important;
    }

    .section {
        left: 0;
    }

    .main-content {
        padding-left: 0 !important;
    }

    .about .about-content .personal-info .info-item p span {
        display: block !important;
        margin-left: 0 !important;
    }

}

@media (max-width: 991px) {

    .home .home-img {
        display: none !important;
    }

    .about .about-content .experience,
    .about .about-content .education,
    .home .home-info {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }


    .service .service-item,
    .portfolio .portfolio-item,
    .contact .contact-info-item {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

}

@media (max-width: 767px) {

    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info,
    .service .service-item,
    .portfolio .portfolio-item,
    .contact .contact-info-item,
    .contact .contact-form .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}