<div class="main-container">

    <app-aside></app-aside>

    <app-main-content [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
    </app-main-content>

    <style-switcher></style-switcher>
</div>